-# TODO:ヘッダー未実装  伊藤  20191115
%main#registration-new
  = form_tag(signup_index_path, method: :post,action:"") do
    .signup-panel
      %p.signup-panel__title 支払い方法
      .form-content
        .form-group
          - if @user.errors.present?
            %ul.has-error-text
              - @user.errors.full_messages.each do |message|
                %li 
                  = message
          %label カード番号
          %span.form-require 必須
          = text_field_tag "number", "", class: "field__input", placeholder:"半角数字のみ", maxlength: "16", type: "text", id: "card_number"
          %ul.signup-card-list
            %img{src:"//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?465897195", width: "49", height: "20"}
            %img{src:"//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?465897195", width: "34", height: "20"}
            %img{src:"//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?465897195", width: "30", height: "20"}
            %img{src:"//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?465897195", width: "32", height: "20",}
            %img{src:"//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?465897195", width: "21", height: "20"}
            %img{src:"//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?465897195", width: "32", height: "20"}
            %img{src:"//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?465897195", width: "32", height: "20"}
        .form-group
          %label 有効期限
          %span.form-require 必須
          .date-wrapper
            .select-wrap
              %select
                %option --
                = (1..12). each do |i|
                  = month = "#{i}"
                  %option{value: i}
                    = month
              %span 月

            .select-wrap
              %select
                %option --
                = (2019..2030). each do |i|
                  = year = "#{i}"
                  %option{value: i}
                    = year
              %span 年
        .form-group
          %label セキュリティコード
          %span.form-require 必須
          = text_field_tag "cvc", "", class: "field__input", placeholder:"カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
          .signup-seqcode
            %span.form-question 
              ?
            カード裏面の番号とは？      
        .signup-btn
          = submit_tag "次へ進む", class: "submit"
= render 'layouts/simple-footer'