.header
  .header__contents
    .header__contents__top
      .header__contents__top__left
        = link_to '/' do
          = image_tag '/images/mercari_logo_horizontal.png'
      %form.header__contents__top__right
        %input{type: "search", placeholder: "何かお探しですか？"}/
        %button
          %i.fas.fa-search
    .header__contents__low
      .header__contents__low__left
        .header__contents__low__left__categories
          = link_to do
            %i.fas.fa-list-ul
            カテゴリーから探す
          %ul
            %li
              %h3
                = link_to do
                  レディース
            %li
              %h3
                = link_to do
                  メンズ
            %li
              %h3
                = link_to do
                  ベビー・キッズ
            %li
              %h3
                = link_to do
                  インテリア・住まい・小物
            %li
              %h3
                = link_to do
                  本・音楽・ゲーム
            %li
              %h3
                = link_to do
                  おもちゃ・ホビー・グッズ
            %li
              %h3
                = link_to do
                  コスメ・香水・美容
            %li
              %h3
                = link_to do
                  家電・スマホ・カメラ
            %li
              %h3
                = link_to do
                  スポーツ・レジャー
            %li
              %h3
                = link_to do
                  ハンドメイド
            %li
              %h3
                = link_to do
                  チケット
            %li
              %h3
                = link_to do
                  自動車・オートバイ
            %li
              %h3
                = link_to do
                  その他
            %li
              %h3
                = link_to do
                  カテゴリー一覧
        .header__contents__low__left__brands
          = link_to do
            %i.fas.fa-tag
            ブランドから探す
          %ul
            %li
              %h3
                = link_to do
                  シャネル
            %li
              %h3
                = link_to do
                  ナイキ
            %li
              %h3
                = link_to do
                  ルイヴィトン
            %li
              %h3
                = link_to do
                  シュプリーム
            %li
              %h3
                = link_to do
                  アディダス
            %li
              %h3
                = link_to do
                  ブランド一覧
      .heder__contents__low__container

      - if user_signed_in?
        .header__contents__low__right__login
          %ul.header__low__right
            %li.header__low__right__notice
              = link_to"お知らせ", destroy_user_session_path, method: :delete
            %li.header__contents__low__right__todolist
              = link_to"やることリスト"
            %li.header__contents__low__right__mypage
              = link_to"マイページ", mypage_path
      - else
        .header__contents__low__right
          .header__contents__low__right__registration
            = link_to "新規会員登録", step1_signup_index_path
            
          .header__contents__low__right__login
            = link_to "ログイン", new_user_session_path, :class => 'post' 

