.header
  .header__contents
    .header__contents__top
      .header__contents__top__left
        = link_to do
          = image_tag '/images/mercari_logo_horizontal.png'
      %form.header__contents__top__right
        %input{type: "search", placeholder: "何かお探しですか？"}/
        %button
          %i.fas.fa-search
    .header__contents__low
      .header__contents__low__left
        .header__contents__low__left__categories
          = link_to do
            %i.fas.fa-list-ul
            カテゴリーから探す
          %div.header__contents__low__left__categories__pulldown
            %ul
              %li
                = link_to do
                  レディース
                %ul
                  %li
                    = link_to do
                      トップス
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ジャケット/アウター
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      パンツ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      スカート
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ワンピース
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      靴
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ルームウェア/パジャマ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      レッグウェア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      帽子
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      バッグ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      アクセサリー
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ヘアアクセサリー
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      小物
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      時計
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  メンズ
                %ul
                  %li
                    = link_to do
                      トップス
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ジャケット/アウター
                    %ul
                      = link_to do
                        hallo
                    = link_to do
                      hallo
                  %li
                    = link_to do
                      パンツ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      靴
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      バッグ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      スーツ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      帽子
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      アクセサリー
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      小物
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      時計
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      水着
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      レッグウェア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      アンダーウェア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      その他
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  ベビー・キッズ
                %ul
                  %li
                    = link_to do
                      ベビー服（女の子用）~95cm
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ベビー服（男の子用）~95cm
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ベビー服（男女兼用）~95cm
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      キッズ服（女の子用）100cm~
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      キッズ服（男の子用）100cm~
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      キッズ服（男女兼用）100cm~
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      キッズ靴
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      子ども用ファッション小物
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      おむつ/トイレ/バス
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      外出/移動用品
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      授乳/食事
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ベビー家具/寝具/室内用品
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      おもちゃ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      行事/記念品
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  インテリア・住まい・小物
                %ul
                  %li
                    = link_to do
                      キッチン/食器
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ベッド/マットレス
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ソファ/ソファベッド
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      椅子/チェア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      机/テーブル
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      収納家具
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ラグ/カーペット/マット
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      カーテン/ブラインド
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ライト/照明
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      寝具
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      インテリア小物
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      季節/年中行事
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      その他
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  本・音楽・ゲーム
                %ul
                  %li
                    = link_to do
                      本
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      漫画
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      雑誌
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ＣＤ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ＤＶＤ/ブルーレイ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      レコード
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      テレビゲーム
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  おもちゃ・ホビー・グッズ
                %ul
                  %li
                    = link_to do
                      おもちゃ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      タレントグッズ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      コミック/アニメグッズ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      トレーディングカード
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      フィギュア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      楽器/器材
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      コレクション
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ミリタリー
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      美術品
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      アート用品
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      その他
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  コスメ・香水・美容
                %ul
                  %li
                    = link_to do
                      ベースメイク
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      メイクアップ
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ネイルケア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      香水
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      スキンケア/基礎化粧品
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ヘアケア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ボディケア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      オーラルケア
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      リラクゼーション
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      ダイエット
                    %ul
                      = link_to do
                        hallo
                  %li
                    = link_to do
                      その他
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  家電・スマホ・カメラ
                %ul
                  %li
                    = link_to do
                      hallo
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  スポーツ・レジャー
                %ul
                  %li
                    = link_to do
                      hallo
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  ハンドメイド
                %ul
                  %li
                    = link_to do
                      hallo
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  チケット
                %ul
                  %li
                    = link_to do
                      hallo
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  自動車・オートバイ
                %ul
                  %li
                    = link_to do
                      hallo
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  その他
                %ul
                  %li
                    = link_to do
                      hallo
                    %ul
                      = link_to do
                        hallo
              %li
                = link_to do
                  カテゴリー一覧
        .header__contents__low__left__brands
          = link_to do
            ブランドから探す
      .header__contents__low__right
        .header__contents__low__right__registration
          = link_to "新規会員登録", new_user_registration_path
          
        .header__contents__low__right__login
          = link_to "ログイン", new_user_session_path, :class => 'post' 
