.body
  .container
    %header.header__container
      %h1
        = link_to '/' do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", alt: "mercari"
    .main
      .login__menu
        .login__menu__account
          %p
            アカウントをお持ちでない方はこちら
          = link_to '新規会員登録', new_user_registration_path, id: "button--margin"
            
        .login__menu__inner
          %button#facebook__login.btn__default.btn__sns.btn__sns__facebook
            %i.fab.fa-facebook-square.fa-2x
            Facebookでログイン
          %button#google__login.btn__default.btn__sns.btn__sns__google
            %i
            Googleでログイン
        = form_for(resource, as: resource_name, url: new_user_session_path) do |f|
          .login__menu__form
            .field-input
              = f.email_field :email, class: 'input__default', placeholder: "メールアドレス"
            .field-input
              = f.password_field :password, class: 'input__default',placeholder: "パスワード", autocomplete: "off"
            .form__group
              .login__menu__captcha{"data-sitekey": ""}
                .login__menu__captcha__space 
                .login__menu__submit
                = f.submit "ログイン", class: 'btn__default , btn__red'
                = link_to 'パスワードをお忘れの方', '/password/reset/start/'

    = render "layouts/simple-footer"

