.left-content
  .left-content__mypage-list
    %ul
      %li
        = link_to mypage_path, id: "mypage", class: "active" do
          マイページ
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "notice" do
          お知らせ
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "todo" do
          やることリスト
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "like" do
          いいね！一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "sell" do
          出品する
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "selling" do
          出品した商品 - 出品中
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "dealing" do
          出品した商品 - 取引中
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "selled" do
          出品した商品 - 売却済み
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "purchase-dealing" do
          購入した商品 - 取引中
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "purchase-dealed" do
          購入した商品 - 過去の取引
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "news" do
          ニュース一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "rate-list" do
          評価一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "guid" do
          ガイド
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "contact" do
          お問い合わせ
          %i.fas.fa-chevron-right
  .left-content__merpay
    %h4.heading メルペイ
    %ul
      %li
        = link_to "#", id: "sales" do
          売上・振込申請
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "point" do
          ポイント
          %i.fas.fa-chevron-right
  .left-content__options
    %h4.heading 設定
    %ul
      %li
        = link_to mypage_profile_path, id: "profile" do
          プロフィール
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "deliver-address" do
          発送元・お届け先住所変更
          %i.fas.fa-chevron-right
      %li
        = link_to mypage_credit_path, id: "payment" do
          支払い方法
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "email-password" do
          メール/パスワード
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "identification" do
          本人情報
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "tel-confirmation" do
          電話番号の確認
          %i.fas.fa-chevron-right
      %li
        = link_to "#", id: "logout" do
          ログアウト
          %i.fas.fa-chevron-right