.left-content
  .left-content__mypage-list
    %ul
      %li
        = link_to "マイページ", mypage_path, id: "mypage", class: "active"
      %li
        = link_to "お知らせ", "#", id: "notice"
      %li
        = link_to "やることリスト", "#", id: "todo"
      %li
        = link_to "いいね！一覧", "#", id: "like"
      %li
        = link_to "出品する", "#", id: "sell"
      %li
        = link_to "出品した商品 - 出品中", "#", id: "selling"
      %li
        = link_to "出品した商品 - 取引中", "#", id: "dealing"
      %li
        = link_to "出品した商品 - 売却済み", "#", id: "selled"
      %li
        = link_to "購入した商品 - 取引中", "#", id: "purchase-dealing"
      %li
        = link_to "購入した商品 - 過去の取引", "#", id: "purchase-dealed"
      %li
        = link_to "ニュース一覧", "#", id: "news"
      %li
        = link_to "評価一覧", "#", id: "rate-list"
      %li
        = link_to "ガイド", "#", id: "guid"
      %li
        = link_to "お問い合わせ", "#", id: "contact"
  .left-content__merpay
    %h4.heading メルペイ
    %ul
      %li
        = link_to "売上・振込申請", "#", id: "sales"
      %li
        = link_to "ポイント", "#", id: "point"
  .left-content__options
    %h4.heading 設定
    %ul
      %li
        = link_to "プロフィール", mypage_profile_path, id: "profile" 
      %li
        = link_to "発送元・お届け先住所変更", "#", id: "deliver-address"
      %li
        = link_to "支払い方法", "#", id: "payment"
      %li
        = link_to "メール/パスワード", "#", id: "email-password"
      %li
        = link_to "本人情報", "#", id: "identification"
      %li
        = link_to "電話番号の確認", "#", id: "tel-confirmation"
      %li
        = link_to "ログアウト", "#", id: "logout"