.top
  .top__container
    = render 'shared/header'
    .main
      .main__contents
        .main__contents__top
          = link_to do
            .main__contents__top__image

        .main__contents__categories
          %h2.main__contents__categories__top 人気のカテゴリー
          .main__contents__categories__low
            %ul
              %li
                = link_to do
                  レディース
              %li
                = link_to do
                  メンズ
              %li
                = link_to do
                  家電・スマホ・カメラ
              %li
                = link_to do
                  おもちゃ・ホビー・グッズ
        .main__contents__new-categories
          .main__contents__new-categories__top
            .main__contents__new-categories__top__heading
              %h3 新着アイテム
              = link_to do
                もっと見る
            .main__contents__new-categories__top__contents
              %ul
                - @products.each do |product|
                  .item-box
                    = link_to product_path(id: product.id) do
                      .price-label
                        %span ¥
                        = generate_three_digits_separator(product.price)
                      %li
                        - if product.images.exists?
                          = image_tag product.images[0].image.url, class: "item-box-img"
                          %p= product.name
                        - else
                          = image_tag "rails-logo.png", class: "item-box-img"
                          %p= product.name
          -# lifecoarchから指摘を受け削除 2019128 伊藤
          -# .main__contents__new-categories__second
          -#   .main__contents__new-categories__second__heading
          -#     %h3 新着アイテム
          -#     = link_to do
          -#       もっと見る
          -#   .main__contents__new-categories__second__contents
          -#     %ul
          -# .main__contents__new-categories__third
          -#   .main__contents__new-categories__third__heading
          -#     %h3 新着アイテム
          -#     = link_to do
          -#       もっと見る
          -#   .main__contents__new-categories__third__contents
          -#     %ul
          -# .main__contents__new-categories__bottom
          -#   .main__contents__new-categories__bottom__heading
          -#     %h3 新着アイテム
          -#     = link_to do
          -#       もっと見る
          -#   .main__contents__new-categories__bottom__contents
          -#     %ul
        .main__contents__brands
          %h2.main__contents__brands__top 人気のブランド
          .main__contents__brands__low
            %ul
              %li
                = link_to do
                  シャネル
              %li
                = link_to do
                  ルイヴィトン
              %li
                = link_to do
                  シュプリーム
              %li
                = link_to do
                  ナイキ
        .main__contents__new-brands
          -# lifecoarchから指摘を受け削除 2019128 伊藤
          -# .main__contents__new-brands__top
          -#   .main__contents__new-brands__top__heading
          -#     %h3 新着アイテム
          -#     = link_to do
          -#       もっと見る
          -#   .main__contents__new-brands__top__contents
          -# .main__contents__new-brands__second
          -#   .main__contents__new-brands__second__heading
          -#     %h3 新着アイテム
          -#     = link_to do
          -#       もっと見る
          -#   .main__contents__new-brands__second__contents
          -# .main__contents__new-brands__third
          -#   .main__contents__new-brands__third__heading
          -#     %h3 新着アイテム
          -#     = link_to do
          -#       もっと見る
          -#   .main__contents__new-brands__third__contents
          -# .main__contents__new-brands__bottom
          -#   .main__contents__new-brands__bottom__heading
          -#     %h3 新着アイテム
          -#     = link_to do
          -#       もっと見る
          -#   .main__contents__new-brands__bottom__contents
    = render 'shared/exhibit-btn'
    = render 'shared/footer'
