.item-details
  = render 'shared/header'
  %section.product-show
    %h1.product-show__item 
      = @product.name
    %p.product-show__text
      『#{@product.name}』は、18回の取引実績を持つ
      = link_to do
        = @product.seller.nickname
      さんから出品されました。
      = link_to do
        美容機器/家電・スマホ・カメラ
      の商品で、#{@product.region}から#{@product.delivery_date}されます。
    .product-show__content
      .product-show__photo
        .photo_field
          - @images.length.times do |i|
            = image_tag @images.reverse[i][0], class:"item-image"
        .product-show__images
          .product-show__image-show
          .product-show__image-list
            - @images.length.times do |i|
              .product-show__image-content
                = image_tag @images[i][0], class: "item-image"
        .product-show__sold-out
          -# %div SOLD
      %table.product-show__table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to do
                = @product.seller.nickname
              %div
                .product-show__rating
                  %i.fas.fa-laugh
                  %span 18
                .product-show__rating
                  %i.fas.fa-meh
                  %span 0
                .product-show__rating
                  %i.fas.fa-frown
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to do
                %div 家電・スマホ・カメラ
              = link_to do
                %div
                  %i.fas.fa-chevron-right 美容・健康
              = link_to do
                %div
                  %i.fas.fa-chevron-right 美容機器
          %tr
            %th ブランド
            %td
          %tr
            %th 商品の状態
            %td
              = @product.condition
          %tr
            %th 配送料の負担
            %td
              = @product.delivery_fee_pay
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              = link_to do
                = @product.region
          %tr
            %th 発送日の目安
            %td
              = @product.delivery_date
      .product-show__clear
    .product-show__price
      %span.product-show__yen
        ¥#{generate_three_digits_separator(@product.price)} 
      %span.product-show__tax (税込)
      %span.product-show__fee
        - if @product.delivery_fee_pay == "送料込み(出品者負担)"
          送料込み
        - else
          着払い
    .product-show__description
      %p
        = @product.explanation
  .show-btn__container
    .show-btn__contents
      .show-btn__edit
        = link_to edit_product_path(id: @product.id) do
          商品の編集
      .show-btn__destroy
        =link_to @product, method: :delete do
          この商品を削除する
  .show-messages
    .show-messages__showing
      .show-messages__text
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .show-messages__textarea
        %textarea
      .show-messages__button
        = link_to do
          コメントする
  = render 'shared/footer'
